nav#aside {
  width: 70px;
  flex-shrink: 0;
  background: var(--primary);
  position: relative;
  align-items: center;
  display: flex !important;
  flex-direction: column;
  z-index: 40;
}

body.dark nav#aside {
  background: var(--dark-theme-primary-color);
}

nav#aside>.nsecure-logo {
  margin-top: 20px;
}

nav#aside>ul {
  width: inherit;
  display: flex;
  margin-top: 10px;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 20px;
}

nav#aside>ul li {
  height: 70px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

nav#aside>ul li+li {
  margin-top: 10px;
}

nav#aside>ul li:not(.active):hover {
  cursor: pointer;
  background: rgba(50, 200, 255, 0.085);
}

nav#aside>ul li.active:before {
  background: var(--secondary);
  position: absolute;
  left: 0;
  top: 17.5px;
  height: 35px;
  width: 4px;
  border-radius: 0 4px 4px 0;
  content: "";
}

nav#aside>ul li>i {
  font-size: 24px;
}

nav#aside>ul li.active,
nav#aside>ul li.active span {
  color: var(--secondary);
}

nav#aside>ul li>span {
  position: absolute;
  left: 10px;
  bottom: 5px;
  font-size: 12px;
  color: #FFF;
  font-weight: bold;
}

nav#aside>ul li.bottom-nav {
  margin-top: auto;
}
