version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
    cooldown:
      default-days: 5
    groups:
      github-actions:
        patterns:
          - "*"

  - package-ecosystem: npm
    directory: /
    versioning-strategy: widen
    schedule:
      interval: weekly
    cooldown:
      default-days: 5
    groups:
      dependencies:
        dependency-type: "production"
        exclude-patterns:
          - "@nodesecure/*"
      development-dependencies:
        dependency-type: "development"
        exclude-patterns:
          - "@nodesecure/*"
      nodesecure-dependencies:
        patterns:
          - "@nodesecure/*"
