{
    "extends": "@nodesecure/eslint-config",
    "parserOptions": {
        "sourceType": "module",
        "requireConfigFile": false
    },
    "rules": {
      "func-style": "off",
      "no-invalid-this": "off",
      "no-inner-declarations": "off",
      "no-case-declarations": "off"
    }
}
