test/
tests/
coverage/
.nyc_output/
.circleci/
jsdoc/
jsdoc.json
docs/
CONTRIBUTING.md
CHANGELOG.md
.editorconfig
.eslintrc
.gitignore
tsconfig.json
commitlint.config.js
CHANGELOG.md
.travis.yml
.env
