#searchbar {
  background: linear-gradient(to bottom, #37474f 0%, #263238 100%);
  display: flex;
  height: inherit;
  box-sizing: border-box;
  border-left: 2px solid #0f041a;
}

#searchbar>* {
  transform: skewX(20deg);
}

#searchbar>div.search-items {
  padding-left: 5px;
  display: flex;
  align-items: center;
}

#searchbar>div.search-items div.cancel {
  cursor: pointer;
  width: 14px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  font-size: 14px;
  font-family: "roboto";
  color: #B3E5FC;
  font-weight: bold;
}

#searchbar>div.search-items div:not(.cancel) {
  padding: 5px;
  background: #37474F;
  border-radius: 3px;
  font-size: 13px;
  font-family: "mononoki";
  display: flex;
}

#searchbar>div.search-items div p {
  margin-left: 5px;
}

#searchbar>div.search-items div+div {
  margin-left: 5px;
}

#searchbar>input {
  width: 210px;
  background: none;
  border: none;
  outline: none;
  color: #FFF;
  font-family: "mononoki";
  margin-bottom: 2px;
}

#searchbar>input::placeholder {
  color: #FFF;
}

#searchbar>i {
  width: 45px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

div.search-result-background {
  position: absolute;
  display: none;
  margin-top: 35px;
  right: -130px;
  min-width: 360px;
  max-width: 400px;
  padding: 10px !important;
  background: #263238;
  box-shadow: 1px 1px 10px rgba(20, 20, 20, 0.4);
  border-radius: 4px;
  box-sizing: border-box;
  padding: 15px;
  flex-direction: column;
}

div.search-result-background.show {
  display: flex;
}

div.search-result-background>div.search-result-pannel {
  display: flex;
  flex-direction: column;
  max-height: 70vh;
  overflow-y: auto;
}

div.search-result-pannel>.helpers {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #37474F;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-family: "mononoki";
}

div.search-result-pannel>.helpers.hide {
  display: none;
}

div.search-result-pannel>.helpers>.title {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 3px;
  color: #ECEFF1;
  margin-bottom: 10px;
}

div.search-result-pannel>.helpers>.title>a {
  margin-left: auto;
  color: inherit;
}

div.search-result-pannel>.helpers>.line {
  display: flex;
  align-items: center;
  font-size: 13px;
  border-radius: 4px;
  padding: 2px 10px;
  min-height: 20px;
}

div.search-result-pannel>.helpers>.line.hide {
  display: none;
}

div.search-result-pannel>.helpers>.line+.line {
  margin-top: 2px;
}

div.search-result-pannel>.helpers>.line:hover {
  cursor: pointer;
  background: var(--secondary-darker);
}

div.search-result-pannel>.helpers>.line:hover p {
  color: #FFF;
}

div.search-result-pannel>.helpers>.line b {
  margin-right: 5px;
  color: #E1F5FE;
}

div.search-result-pannel>.helpers>.line p {
  color: #B0BEC5;
}

div.search-result-pannel .package {
  background: rgba(69, 90, 100, 0.198);
  align-items: center;
  border-radius: 2px;
  padding: 10px;
  display: flex;
  flex-shrink: 0;
  text-shadow: 1px 1px 1px rgba(20, 20, 20, 0.5);
  font-size: 14px;
  letter-spacing: 0.7px;
  margin-right: 2px;
}

div.search-result-pannel .package:hover {
  color: #E1F5FE;
  background: #01579B;
  cursor: pointer;
}

div.search-result-pannel .package>p {
  margin-right: 10px;
}

div.search-result-pannel .package>b {
  color: #ffeb3b;
  font-weight: bold;
  margin-left: auto;
}

div.search-result-pannel .package.hide {
  display: none;
}

div.search-result-pannel .package+.package {
  margin-top: 5px;
}

#search-nav {
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 30px;
  left: 50px;
  padding-left: 20px;
  max-width: calc(100vw - 70px);
  box-sizing: border-box;
  background: var(--primary);
  transform: skewX(-20deg);
  box-shadow: 2px 1px 10px #26107f7a;
}

#search-nav .search-result-pannel .package {
  height: 30px;
  color: rgb(229, 229, 229);
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-family: "Roboto";
}

#search-nav .packages {
  height: inherit;
  display: flex;
  overflow-x: auto;
  max-width: calc(100vw - 70px - 264px);
  background: var(--primary);
}

#search-nav .packages>.package {
  height: inherit;
  color: rgb(229, 229, 229);
  font-family: "mononoki";
  display: flex;
  align-items: center;
  background: linear-gradient(to right,  rgba(55,34,175,1) 0%,rgba(87,74,173,1) 50%,rgb(59, 110, 205) 100%);
  padding: 0 10px;
  border-right: 2px solid #0f041a;
  text-shadow: 1px 1px 10px #000;
  color: #def7ff;
}

#search-nav .packages>.package>* {
  transform: skewX(20deg);
}

#search-nav .packages>.package:first-child {
  padding-left: 10px;
}

#search-nav .packages>.package:not(.active):hover {
  background: linear-gradient(to right, rgba(55, 34, 175, 1) 1%, rgb(68, 121, 218) 100%);
  color: #defff9;
  cursor: pointer;
}

#search-nav .packages>.package.active {
  background: linear-gradient(to right,  rgba(55,34,175,1) 0%,rgba(87,74,173,1) 50%,rgb(59, 110, 205) 100%);
}

#search-nav .packages>.package.active>b {
  background: var(--secondary);
}

#search-nav .packages>.package.active>.remove {
  display: block;
}

#search-nav .packages>.package>b{
  font-weight: bold;
  font-size: 12px;
  margin-left: 5px;
  background: var(--secondary-darker);
  padding: 3px 5px;
  border-radius: 2px;
  font-family: "Roboto";
  letter-spacing: 1px;
}

#search-nav .add {
  height: inherit;
  color: white;
  font-size: 20px;
  border: none;
  background: var(--secondary-darker);
  cursor: pointer;
  padding: 0 7px;
  transition: 0.2s all ease;
  color: #def7ff;
}

#search-nav .add:hover {
  background: var(--secondary);
  cursor: pointer;
}

#search-nav .add>i {
  transform: skewX(20deg);
}

#search-nav button.remove {
  display: none;
  border: none;
  background: transparent;
  position: relative;
  cursor: pointer;
  color: #fff5dc;
  background: #ff3434e2;
  font-family: "mononoki";
  margin-left: 10px;
  border-radius: 2px;
  text-shadow: 1px 1px 10px #000;
  font-weight: bold;
}

#search-nav button.remove:hover {
  cursor: pointer;
  background: #ff5353e2;
}
