#network-locker {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 30;
  display: flex;
  height: 30px;
  border-radius: 4px;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  background-color: var(--primary);
  transition: 0.3s all linear;
  cursor: pointer;
}

#network-locker:not(.enabled) {
  background-color: var(--primary);
}

#network-locker.enabled {
  background-color: #af2222;
}

#network-locker>i {
  height: inherit;
  padding: 0 5px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  margin-right: 10px;
  transition: 0.3s all linear;
}

#network-locker>i:not(.enabled) {
  background-color: var(--primary-lighter);
}

#network-locker>i.enabled {
  background-color: #cb3d3d;
}

#network-locker>p {
  font-family: mononoki;
  padding-right: 10px;
  display: flex;
  align-items: center;
  height: inherit;
  text-transform: capitalize;
}
