.report--popup {
  min-width: 400px;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.report--popup>.title {
  height: 2px;
  background: #d3d3d387;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

body.dark .report--popup>.title {
  background: var(--dark-theme-secondary-color);
}

.report--popup>.title>p {
  background: #f5f4f4;
  padding: 0 10px;
  font-family: roboto;
  font-weight: bold;
  letter-spacing: 1.2px;
  color: #255471;
  font-size: 20px;
}

body.dark .report--popup>.title>p {
  background: #303263;
  color: #3cbde5;
}

.report--popup>form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 0;
}

.report--popup>form label {
  color: #546884;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 18px;
}

body.dark .report--popup>form label {
  color: white;
}

.report--popup>form input {
  padding: 11px 6px;
  border: none;
  border-left: 4px solid #546884;
  margin-bottom: 10px;
  border-radius: 2px;
  box-shadow: 0 3px 7px 1px rgb(0 0 0 / 10%);
  font-size: 16px;
}

.report--popup>form>button {
  border: none;
  padding: 8px;
  color: white;
  background: #43a82f;
  font-weight: bold;
  cursor: pointer;
  width: 120px;
  margin: auto;
  margin-top: 20px;
  font-size: 16px;
  border-radius: 4px;
}

.report--popup .spinner {
  width: 7px;
  height: 7px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
  border: 3px solid white;
  animation: spinner-from 0.8s infinite linear alternate, spinner-to 1.6s infinite linear;
}


@keyframes spinner-from {
  0% {
     clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }

  12.5% {
     clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
  }

  25% {
     clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
  }

  50% {
     clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
  }

  62.5% {
     clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
  }

  75% {
     clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
  }

  100% {
     clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
  }
}

@keyframes spinner-to {
  0% {
     transform: scaleY(1) rotate(0deg);
  }

  49.99% {
     transform: scaleY(1) rotate(135deg);
  }

  50% {
     transform: scaleY(-1) rotate(0deg);
  }

  100% {
     transform: scaleY(-1) rotate(-135deg);
  }
}
