<!DOCTYPE html>
<html lang="[[=z.lang]]">

<!-- Headers -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<link rel="stylesheet" href="public/main.css" />
<link rel="stylesheet" href="workspaces/documentation-ui/src/css/main.css" />
<link rel="stylesheet" href="node_modules/highlight.js/styles/github.css" />
<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
<script src="public/main.js" defer></script>
<title>NodeSecure</title>

<div id="lang" data-lang="[[=z.i18nLangName]]" style="display: none;"></div>

<main>
  <nav id="aside">
    <a class="nsecure-logo" href="https://github.com/NodeSecure" target="_blank" rel="noopener">
      <svg width="60" height="60" viewBox="0 0 1324 776" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M662 0L998.042 194V582L662 776L325.958 582V194L662 0Z" fill="white" />
        <path fill-rule="evenodd" clip-rule="evenodd" d="M325.958 388V582L662 776L998.042 582V388H325.958Z"
          fill="#3319D1" fill-opacity="0.74" />
        <rect x="200" y="346.475" width="924" height="97.3244" fill="#00D1FF" />
        <g filter="url(#filter0_f_401_16)">
          <rect x="200" y="346.475" width="924" height="97.3244" fill="#00D1FF" />
        </g>
        <g filter="url(#filter1_f_401_16)">
          <rect x="200" y="346.475" width="924" height="97.3244" fill="#00D1FF" />
        </g>
        <defs>
          <filter id="filter0_f_401_16" x="0" y="146.475" width="1324" height="497.324" filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
            <feGaussianBlur stdDeviation="100" result="effect1_foregroundBlur_401_16" />
          </filter>
          <filter id="filter1_f_401_16" x="0" y="146.475" width="1324" height="497.324" filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
            <feGaussianBlur stdDeviation="100" result="effect1_foregroundBlur_401_16" />
          </filter>
        </defs>
      </svg>
    </a>
    <ul id="view-navigation">
      <li data-menu="home--view">
        <i class="icon-home"></i>
        <span></span>
      </li>
      <li data-menu="network--view">
        <i class="icon-globe-alt-outline"></i>
        <span></span>
      </li>
      <li data-menu="search--view">
        <i class="icon-search"></i>
        <span></span>
      </li>
      <li data-menu="settings--view" class="bottom-nav">
        <i class="icon-cog"></i>
        <span></span>
      </li>
    </ul>
  </nav>
  <nav id="search-nav">
  </nav>
  <section class="content">
    <div id="home--view" class="view hidden"></div>
    <div id="network--view" class="view hidden">
      <div id="network-loader">
        <div class="lds-ellipsis">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <p>[[=z.token('loading_nodes')]]</p>
        <p>[[=z.token('please_wait')]]</p>
      </div>
      <div id="dependency-graph"></div>
      <div id="network-locker">
        <i class="icon-lock-open"></i>
        <p>[[=z.token('network.unlocked')]]</p>
      </div>
      <div id="legend">
      </div>
    </div>
    <div id="search--view" class="view hidden">
      <div class="container">
        <form>
          <div class="form-group">
            <i class="icon-search"></i>
            <input type="text" id="package" name="package" placeholder="fastify, express..." autocomplete="off" required>
          </div>
        </form>
        <div class="cache-packages">
          <h2>[[=z.token('search.packagesCache')]]</h2>
        </div>
      </div>
    </div>
    <div id="settings--view" class="view hidden">
      <h1><i class="icon-cog"></i>[[=z.token('settings.general.title')]]</h1>
      <form>
        <div class="line">
          <label for="default_package_menu">[[=z.token('settings.general.defaultPannel')]]:</label>
          <select name="defaultPackageMenu" id="default_package_menu">
            <option value="info">[[=z.token('package_info.navigation.overview')]]</option>
            <option value="files">[[=z.token('package_info.navigation.files')]]</option>
            <option value="dependencies">[[=z.token('package_info.navigation.dependencies')]]</option>
            <option value="warnings">[[=z.token('package_info.navigation.warnings')]]</option>
            <option value="vulnerabilities">[[=z.token('package_info.navigation.vulnerabilities')]]</option>
            <option value="licenses" selected>[[=z.token('package_info.navigation.licenses')]]</option>
          </select>
          <p class="settings-line-title">[[=z.token('settings.general.network')]]:</p>
          <div>
            <input type="checkbox" id="show-friendly" name="show-friendly" />
            <label for="show-friendly">[[=z.token('settings.general.showFriendly')]]</label>
          </div>
        </div>
        <div class="line">
          <p>[[=z.token('settings.general.warnings')]]:</p>
          <div>
            <input type="checkbox" checked name="warnings" value="parsing-error" id="parsing-error">
            <label for="parsing-error">parsing error</label>
          </div>
          <div>
            <input type="checkbox" checked name="warnings" value="unsafe-import" id="unsafe-import">
            <label for="unsafe-import">unsafe import</label>
          </div>
          <div>
            <input type="checkbox" checked name="warnings" value="unsafe-regex" id="unsafe-regex">
            <label for="unsafe-regex">unsafe regex</label>
          </div>
          <div>
            <input type="checkbox" checked name="warnings" value="unsafe-stmt" id="unsafe-stmt">
            <label for="unsafe-stmt">unsafe stmt</label>
          </div>
          <div>
            <input type="checkbox" checked name="warnings" value="unsafe-assign" id="unsafe-assign">
            <label for="unsafe-assign">unsafe assign</label>
          </div>
          <div>
            <input type="checkbox" checked name="warnings" value="encoded-literal" id="encoded-literal">
            <label for="encoded-literal">encoded literal</label>
          </div>
          <div>
            <input type="checkbox" checked name="warnings" value="short-identifiers" id="short-identifiers">
            <label for="short-identifiers">short identifiers</label>
          </div>
          <div>
            <input type="checkbox" checked name="warnings" value="suspicious-literal" id="suspicious-literal">
            <label for="suspicious-literal">suspicious literal</label>
          </div>
          <div>
            <input type="checkbox" checked name="warnings" value="suspicious-file" id="suspicious-file">
            <label for="suspicious-file">suspicious file</label>
          </div>
          <div>
            <input type="checkbox" checked name="warnings" value="obfuscated-code" id="obfuscated-code">
            <label for="obfuscated-code">obfuscated code</label>
          </div>
          <div>
            <input type="checkbox" checked name="warnings" value="weak-crypto" id="weak-crypto">
            <label for="weak-crypto">weak crypto</label>
          </div>
          <div>
            <input type="checkbox" checked name="warnings" value="shady-link" id="shady-link">
            <label for="shady-link">shady link</label>
          </div>
          <div>
            <input type="checkbox" checked name="warnings" value="zero-semver" id="zero-semver">
            <label for="zero-semver">zero semver (0.x.x)</label>
          </div>
        </div>
        <div class="line">
          <p>[[=z.token('settings.general.flags')]]:</p>
          <div>
            <input type="checkbox" name="flags" value="hasManyPublishers" id="hasManyPublishers">
            <label for="hasManyPublishers">👥 hasManyPublishers</label>
          </div>
          <div>
            <input type="checkbox" name="flags" value="hasIndirectDependencies" id="hasIndirectDependencies">
            <label for="hasIndirectDependencies">🌲 hasIndirectDependencies</label>
          </div>
          <div>
            <input type="checkbox" name="flags" value="hasMissingOrUnusedDependency" id="hasMissingOrUnusedDependency">
            <label for="hasMissingOrUnusedDependency">👀 hasMissingOrUnusedDependency</label>
          </div>
          <div>
            <input type="checkbox" name="flags" value="isDead" id="isDead">
            <label for="isDead">💀 isDead</label>
          </div>
          <div>
            <input type="checkbox" name="flags" value="isOutdated" id="isOutdated">
            <label for="isOutdated">⌚️ isOutdated</label>
          </div>
          <div>
            <input type="checkbox" name="flags" id="flags" value="isDuplicate">
            <label for="flags">🎭 isDuplicate</label>
          </div>
        </div>
      </form>
      <button class="save">[[=z.token('settings.general.save')]]</button>
      <div class="line">
        <h2><i class="icon-keyboard"></i>[[=z.token('settings.shortcuts.title')]]</h2>
        <div class="shortcuts">
          <div class="note">💡 [[=z.token('settings.shortcuts.blockquote')]]</div>
          <div>
            <input readonly id="home" class="hotkey">
            <label for="home">[[=z.token('settings.shortcuts.goto')]] Home view</label>
          </div>
          <div>
            <input readonly id="network" class="hotkey">
            <label for="network">[[=z.token('settings.shortcuts.goto')]] Network view</label>
          </div>
          <div>
            <input readonly id="search" class="hotkey">
            <label for="settings">[[=z.token('settings.shortcuts.goto')]] Search view</label>
          </div>
          <div>
            <input readonly id="settings" class="hotkey">
            <label for="settings">[[=z.token('settings.shortcuts.goto')]] Settings view</label>
          </div>
          <div>
            <input readonly id="wiki" class="hotkey">
            <label for="wiki">[[=z.token('settings.shortcuts.openCloseWiki')]]</label>
          </div>
          <div>
            <input readonly id="lock" class="hotkey">
            <label for="lock">[[=z.token('settings.shortcuts.lock')]]</label>
          </div>
        </div>
      </div>
    </div>

    <section id="package-info"></section>
  </section>
</main>

<section id="popup--background">
  <div class="popup"></div>
</section>

<section id="documentation-root-element">
  <div class="open-button">
    <i class="icon-book-open"></i>
  </div>
  <div class="documentation-render-container"></div>
</section>

<template id="home-view-content">
  <div class="home--header">
    <div class="home--header--title">
      <div class="top">
        <p id="project-name">-</p>
        <p id="project-version">v0.0.0</p>
      </div>
      <div class="bottom">
        <p id="project-description"></p>
        <ul id="project-links"></ul>
      </div>
    </div>
    <div class="home--header--aside">
      <div class="home--header--scorecard">
        <div class="description">
          <img src="scorecard.png">
          <p>Scorecard</p>
        </div>
        <div class="score">
          <p id="home-scorecard-score">8.5</p>
        </div>
      </div>
      <button class="home--header--report">
        [[=z.token('home.overview.generateReport')]]
      </button>
    </div>
  </div>
  <div class="home--body">
    <div class="pannel">
      <div class="module">
        <div class="title">
          <i class="icon-eye"></i>
          <p>[[=z.token('home.overview.title')]]</p>
        </div>
        <div class="content">
          <div class="home--overview"></div>
        </div>
        <div class="content" id="homewatch">
          <p>[[=z.token('home.watch')]]</p>
          <div class="home--packages--overview"></div>
        </div>
      </div>
      <div class="module" id="warnings-module">
        <div class="title warning">
          <i class="icon-warning"></i>
          <p>[[=z.token('home.criticalWarnings')]]</p>
          <span class="count">1</span>
        </div>
        <div class="content">
          <div class="home--warnings"></div>
        </div>
      </div>
      <div class="module">
        <div class="title">
          <i class="icon-doc"></i>
          <p>Extensions</p>
        </div>
        <div class="content" id="home-extensions"></div>
      </div>
    </div>
    <div class="pannel">
      <div class="module">
        <div class="title">
          <i class="icon-users"></i>
          <p>[[=z.token('home.maintainers')]]</p>
          <span class="count" id="authors-count">0</span>
        </div>
        <div class="content">
          <div class="home--maintainers"></div>
        </div>
      </div>
      <div class="module">
        <div class="title">
          <i class="icon-vcard"></i>
          <p>Licenses</p>
        </div>
        <div class="content" id="home-licenses"></div>
      </div>
    </div>
  </div>
</template>

<template id="report-popup-template">
  <div class="report--popup">
    <div class="title">
      <p>[[=z.token('popup.report.title')]]</p>
    </div>
    <form action="">
      <label for="title">[[=z.token('popup.report.form.title')]]</label>
      <input type="text" id="title" name="title" required>
      <div>
        <input type="checkbox" id="includesAllDeps" name="includesAllDeps" checked>
        <label for="includesAllDeps">[[=z.token('popup.report.form.includesAllDeps')]]</label>
      </div>
      <div>
        <input type="radio" id="darkTheme" name="theme" value="dark" />
        <label for="darkTheme">[[=z.token('popup.report.form.dark_theme')]]</label>
      </div>
      <div>
        <input type="radio" id="lightTheme" name="theme" value="light" />
        <label for="dewey">[[=z.token('popup.report.form.light_theme')]]</label>
      </div>
      <button type="submit">
        <span class="spinner hidden"></span> [[=z.token('popup.report.form.submit')]]
      </button>
    </form>
  </div>
</template>

<template id="maintainers-popup-template">
  <div class="maintainers--popup">
    <div class="header">
      <div class="avatar"></div>
      <div class="informations">
        <p class="name"></p>
        <p class="email"></p>
      </div>
      <div class="icons">
        <i class="icon-link"></i>
        <i class="icon-globe-alt-outline"></i>
      </div>
    </div>
    <div class="separator">
      <p>[[=z.token('popup.maintainer.intree')]]</p>
    </div>
    <ul class="maintainers--packages"></ul>
  </div>
</template>

<template id="package-info-template">
  <div class="package-code"></div>
  <div class="package-header">
    <div class="package-name">
      <p class="name"></p>
      <p class="version"></p>
      <button class="info"></button>
    </div>
    <p class="description"></p>
    <ul class="flags"></ul>
    <div class="links"></div>
  </div>

  <div class="package-navigation">
    <span class="container-title">[[=z.token('package_info.navigation.overview')]]</span>

    <div class="active" data-menu="info" data-title="[[=z.token('package_info.navigation.overview')]]">
      <i class="icon-cube"></i>
    </div>
    <div data-menu="files" data-title="[[=z.token('package_info.navigation.files')]]">
      <i class="icon-docs"></i>
    </div>
    <div data-menu="dependencies" id="dependencies-nav-menu"
      data-title="[[=z.token('package_info.navigation.dependencies')]]">
      <i class="icon-sitemap"></i>
      <div class="signal"></div>
    </div>
    <div data-menu="warnings" id="warnings-nav-menu" data-title="[[=z.token('package_info.navigation.warnings')]]">
      <i class="icon-warning-empty"></i>
      <div class="signal"></div>
    </div>
    <div data-menu="vulnerabilities" id="vulnerabilities-nav-menu"
      data-title="[[=z.token('package_info.navigation.vulnerabilities')]]">
      <i class="icon-bell-1"></i>
      <div class="signal"></div>
    </div>
    <div data-menu="licenses" data-title="[[=z.token('package_info.navigation.licenses')]]">
      <i class="icon-vcard"></i>
    </div>
    <div data-menu="scorecard" id="scorecard-menu" data-title="[[=z.token('package_info.title.openSsfScorecard')]]">
      <i id="ossf-score"></i>
    </div>
  </div>

  <div class="package-container" id="pan-info">
    <!-- package metadata -->
    <ul class="fields" style="margin-top: 0px !important;"></ul>

    <div class="head-title">
      <p>[[=z.token('package_info.title.releases')]]</p>
    </div>
    <ul class="fields releases"></ul>

    <div class="head-title">
      <p>[[=z.token('package_info.title.used_by')]]</p>
    </div>
    <div class="list-item line" id="usedby" style="margin-top: 0px;"></div>

    <div class="github-overview">
      <div class="head-title">
        <p>github</p>
      </div>
      <div class="bundlephobia" style="margin-bottom: 10px;">
        <div>
          <b class="github-stars">N/A</b>
          <span>STARS</span>
        </div>
        <div>
          <b class="github-issues">N/A</b>
          <span>ISSUES</span>
        </div>
        <div>
          <b class="github-forks">N/A</b>
          <span>FORKS</span>
        </div>
      </div>
    </div>

    <div class="gitlab-overview">
      <div class="head-title">
        <p>gitlab</p>
      </div>
      <div class="bundlephobia" style="margin-bottom: 10px;">
        <div>
          <b class="gitlab-stars">N/A</b>
          <span>STARS</span>
        </div>
        <div>
          <b class="gitlab-forks">N/A</b>
          <span>FORKS</span>
        </div>
      </div>
    </div>

    <div class="head-title">
      <p>[[=z.token('package_info.title.maintainers')]]</p>
    </div>
    <div class="package-maintainers"></div>
  </div>

  <div class="package-container hidden" id="pan-files">
    <div class="head-title no-margin">
      <p>[[=z.token('package_info.title.files_extensions')]]</p>
    </div>
    <div class="list-item" id="extensions"></div>

    <div class="head-title no-margin">
      <p>[[=z.token('package_info.title.files')]]</p>
    </div>
    <div class="list-item line" id="tarballfiles"></div>

    <div class="head-title">
      <p>[[=z.token('package_info.title.required_files')]]</p>
    </div>
    <div class="list-item line" id="internaldep"></div>

    <div class="head-title">
      <p>[[=z.token('package_info.title.minified_files')]]</p>
    </div>
    <div class="list-item line" id="minifiedfiles"></div>

    <!-- bundlephobia (package size) -->
    <div class="head-title">
      <p>bundlephobia</p>
    </div>
    <div class="bundlephobia">
      <div>
        <b class="size-min">N/A</b>
        <span>MIN</span>
      </div>
      <div>
        <b class="size-gzip">N/A</b>
        <span>GZIP</span>
      </div>
      <div>
        <b class="size-full">N/A</b>
        <span>FULL</span>
      </div>
    </div>
  </div>

  <div class="package-container hidden" id="pan-dependencies">
    <div class="head-title no-margin" id="script-title">
      <p>npm scripts</p>
    </div>
    <div class="package-scripts"></div>

    <div class="head-title">
      <p>[[=z.token('package_info.title.unused_deps')]]</p>
    </div>
    <div class="list-item line" id="unuseddep"></div>

    <div class="head-title">
      <p>[[=z.token('package_info.title.missing_deps')]]</p>
    </div>
    <div class="list-item line" id="missingdep"></div>

    <div class="head-title">
      <p>[[=z.token('package_info.title.node_deps')]]</p>
    </div>
    <div class="list-item" id="nodedep"></div>

    <div class="head-title">
      <p>[[=z.token('package_info.title.third_party_deps')]]</p>
      <span id="show-hide-dependency">hide</span>
    </div>
    <div class="list-item line" id="requireddep"></div>
  </div>

  <div class="package-container hidden" id="pan-warnings">
    <div class="help-dialog">
      <i class="icon-info-circled-alt"></i>
      <p>[[=z.token('package_info.helpers.warnings')]] <b class="open-wiki">wiki</b></p>
    </div>
  </div>

  <div class="package-container hidden" id="pan-vulnerabilities">
    <div class="vuln-strategy">
      <div>
        <p class="strategy"><i class="icon-info-circled"></i>strategy</p>
      </div>
      <div>
        <img src="sonatype.png" class="logo">
        <p class="name">SONATYPE</p>
      </div>
    </div>
    <div class="packages-vuln"></div>
  </div>

  <div class="package-container hidden" id="pan-licenses">
    <div class="help-dialog">
      <i class="icon-info-circled-alt"></i>
      <p>[[=z.token('package_info.helpers.spdx')]] <a href="https://spdx.dev/about/" target="_blank"
          rel="noopener noreferrer">[[=z.token('package_info.helpers.here')]]</a></p>
    </div>
  </div>

  <div class="package-container hidden" id="pan-scorecard">
    <div class="package-scorecard">
      <div class="help-dialog">
        <i class="icon-info-circled-alt"></i>
        <p>[[=z.token('package_info.helpers.openSsf')]] <a href="https://github.com/ossf/scorecard" target="_blank"
            rel="noopener noreferrer">[[=z.token('package_info.helpers.here')]]</a></p>
      </div>
      <div class="score-header">
        <span class="score-text">SCORE</span>
        <span class="score-value">
          <span id="head-score"></span>/10
        </span>
        <span class="visualizer">
          <a target="_blank"><img src="ext-link.svg" class="logo"> OpenSSF Scorecard Monitor Visualizer</a>
        </span>
      </div>
    </div>
  </div>
</template>

<template id="search_helpers_default">
  <div class="line" data-value="version:"><b>version:</b>
    <p>semver</p>
  </div>
  <div class="line" data-value="package:"><b>package:</b>
    <p>name</p>
  </div>
  <div class="line" data-value="license:"><b>license:</b>
    <p>name</p>
  </div>
  <div class="line" data-value="ext:"><b>ext:</b>
    <p>file extension</p>
  </div>
  <div class="line" data-value="builtin:"><b>builtin:</b>
    <p>node.js module</p>
  </div>
  <div class="line" data-value="author:"><b>author:</b>
    <p>name/email</p>
  </div>
  <div class="line" data-value="flag:"><b>flag:</b>
    <p>name</p>
  </div>
  <div class="line" data-value="size:"><b>size:</b>
    <p>size</p>
  </div>
</template>

<template id="search_helpers_flags">
  <div class="line" data-value="hasExternalCapacity">
    <p>🌍 hasExternalCapacity</p>
  </div>
  <div class="line" data-value="hasIndirectDependencies">
    <p>🌲 hasIndirectDependencies</p>
  </div>
  <div class="line" data-value="hasWarnings">
    <p>⚠️ hasWarnings</p>
  </div>
  <div class="line" data-value="hasNoLicense">
    <p>📜 hasNoLicense</p>
  </div>
  <div class="line" data-value="hasMultipleLicenses">
    <p>📚 hasMultipleLicenses</p>
  </div>
  <div class="line" data-value="hasMinifiedCode">
    <p>🔬 hasMinifiedCode</p>
  </div>
  <div class="line" data-value="hasCustomResolver">
    <p>💎 hasCustomResolver</p>
  </div>
  <div class="line" data-value="hasMissingOrUnusedDependency">
    <p>👀 hasMissingOrUnusedDependency</p>
  </div>
  <div class="line" data-value="hasScript">
    <p>📦 hasScript</p>
  </div>
  <div class="line" data-value="hasNativeCode">
    <p>🐲 hasNativeCode</p>
  </div>
  <div class="line" data-value="hasBannedFile">
    <p>⚔️ hasBannedFile</p>
  </div>
  <div class="line" data-value="isGit">
    <p>☁️ isGit</p>
  </div>
  <div class="line" data-value="isDeprecated">
    <p>⛔️ isDeprecated</p>
  </div>
  <div class="line" data-value="isOutdated">
    <p>⌚️ isOutdated</p>
  </div>
  <div class="line" data-value="hasManyPublishers">
    <p>👥 hasManyPublishers</p>
  </div>
  <div class="line" data-value="isDead">
    <p>💀 isDead</p>
  </div>
  <div class="line" data-value="hasVulnerabilities">
    <p>🚨 hasVulnerabilities</p>
  </div>
  <div class="line" data-value="hasDuplicate">
    <p>🎭 hasDuplicate</p>
  </div>
</template>

<template id="searchbar-tpl">
  <div id="searchbar">
    <i class="icon-globe-alt-outline"></i>
    <div class="search-items"></div>
    <input type="text" placeholder="[[=z.token('searchbar_placeholder')]]" id="search-bar-input" autocomplete="off"
      autocorrect="off" autocapitalize="off" spellcheck="false"></input>

    <div class="search-result-background">
      <div class="search-result-pannel" id="package-list">
        <div class="helpers"></div>
      </div>
    </div>
  </div>
</template>
