:root {
  --primary-theme-color: #FFF;
  --primary-darker: #261877;
  --primary: #3722AF;
  --primary-lighter: #5A44DA;
  --secondary: #00D1FF;
  --secondary-darker: #1976D2;
  --dark-theme-primary-color: #0b031f;
  --dark-theme-primary-lighter: #0d1035;
  --dark-theme-primary-darker: #0c0d23;
  --dark-theme-secondary-lighter: #a7ccdb;
  --dark-theme-secondary-darker: #262981;
  --dark-theme-secondary-color: #4f9ad1;
  --dark-theme-accent-lighter: #7465c5;
  --dark-theme-accent-darker: #261c66;
  --dark-theme-accent-color: #8d7afc;
  --dark-theme-gray: #191a38;
}

body {
  color: var(--primary-theme-color);
  background: rgb(255 255 255);
  background: radial-gradient(ellipse at center,  rgb(255 255 255 / 100%) 15%,rgb(208 220 221 / 100%) 100%);
  background: radial-gradient(ellipse at center,  rgb(255 255 255 / 100%) 15%,rgb(208 220 221 / 100%) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d0dcdd',GradientType=1 );
}

body.dark {
  color: white;
  background: var(--dark-theme-gray);
}
