.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.75);
    opacity: 0;
    z-index: 9999;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal.show {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modal .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 900px;
    border-radius: 0.5rem;
}
    .modal .modal-content > .close-button {
        position: absolute;
        right: -10px;
        top: -10px;
        width: 2rem;
        line-height: 2rem;
        text-align: center;
        border-radius: 0.25rem;
        background-color: rgba(183, 28, 28, 1);
    }
    .modal .modal-content > .close-button:hover {
        background-color: #F44336;
        cursor: pointer;
    }

    .modal .modal-content > .infobox {
        display: flex;
        max-height: 80vh;
        overflow-y: auto;
    }
        .modal .modal-content > .infobox .flags-legend {
            display: flex;
            width: 280px;
            flex-shrink: 0;
            flex-direction: column;
        }
        .modal .modal-content > .infobox .flags-legend-tags {
            padding-right: 5px;
            max-height: 500px;
            overflow-y: auto;
        }

.flags-legend-tags > .platine-button-skin {
    height: 30px;
    justify-content: start;
}
    .flags-legend-tags > .platine-button-skin + .platine-button-skin {
        margin-left: 0;
        margin-top: 3px;
    }

.flags-description-container {
    max-height: 480px;
    overflow-y: auto;
    color: #ECEFF1;
    margin-left: 1rem;
    padding-right: 15px;
    flex-grow: 1;
    font-family: "mononoki";
}
.flags-description-container img {
    max-width: 100%;
}
.flags-description-container span {
    background: #37474F;
    padding: 0 2px;
    border-radius: 2px;
}
.flags-description-container b {
    color: #FDD835;
}
.flags-description-container h1 {
    color: var(--primary-color);
    height: 30px;
    font-size: 24px;
    border-bottom: 2px solid var(--primary-color);
    margin-bottom: 1rem;
}
.flags-description-container h2 {
    color: var(--primary-color);
    height: 24px;
    font-size: 18px;
    border-bottom: 1px solid var(--primary-color);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.flags-description-container p {
    text-align: justify;
    line-height: 1.20;
    font-weight: 200;
}
.flags-description-container p.note {
    border-left: 3px solid #455A64;
    padding: 5px 15px;
    background: rgba(39, 50, 56, 0.05);
    color: #B0BEC5;
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
}
.flags-description-container ul {
    margin: 1rem 0;
    list-style: disc !important;
}
.flags-description-container ul li {
    min-height: 24px;
    display: flex;
    align-items: center;
    padding: 2px 10px;
}
.flags-description-container ul li:nth-child(odd) {
    background: rgb(40, 51, 56);
}
.flags-description-container ul li:nth-child(even) {
    background: rgb(55, 70, 78);
}

.flags-description-container a {
    color: #26C6DA;
}

.popup-licenses-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.popup-licenses-container > h1 {
    margin-bottom: 10px;
    font-family: "mononoki";
    font-size: 20px;
}
.popup-licenses-container div.line {
    display: flex;
    height: 30px;
    margin-bottom: 10px;
    align-items: center;
}
.popup-licenses-container div.line b {
    margin-right: 20px;
}
.popup-licenses-container div.line a {
    color: #26C6DA;
}
