/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-spacing: 0;
}

::-webkit-scrollbar {
    width: 8px;
    border-radius: 4px;
}
::-webkit-scrollbar-track-piece {
    /* Fond */
    background: transparent none;
    border: solid 4px transparent;
    border-right-width: 6px;
    margin: 4px;
}
::-webkit-scrollbar-track-piece:horizontal {
    /* Fond pour la barre du bas */
    border-right-width: 4px;
    border-bottom-width: 8px;
}
::-webkit-scrollbar-thumb {
    /* Barre */
    border: solid 0 transparent;
    border-right-width: 4px;
    -webkit-border-radius: 5px;
    -webkit-border-top-right-radius: 9px 5px;
    -webkit-border-bottom-right-radius: 9px 5px;
    -webkit-box-shadow: inset 0 0 0 1px rgb(176, 162, 230),
        inset 0 0 0 6px rgb(176, 162, 230);
    -webkit-box-shadow: inset 0 0 0 1px rgb(245, 245, 245),
        inset 0 0 0 6px rgb(245, 245, 245);
}
::-webkit-scrollbar-thumb:hover {
    /* Barre */
    -webkit-box-shadow: inset 0 0 0 1px rgb(245, 245, 245),
        inset 0 0 0 6px rgb(245, 245, 245);
    -webkit-box-shadow: inset 0 0 0 1px #ded9f4, inset 0 0 0 6px #ded9f4;
}
::-webkit-scrollbar-thumb:horizontal {
    /* Barre du bas */
    border-right-width: 0;
    border-bottom-width: 4px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px 9px;
    -webkit-border-bottom-left-radius: 5px 9px;
}

table {
    width: 100%;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 1px 1px 10px rgba(20, 20, 20, 0.25);
}
    table tbody tr:nth-child(even) {
        background: #546E7A;
    }
    table tbody tr:nth-child(odd) {
        background: #455A64
        ;
    }

    table thead {
        background: #37474F;
    }
        table thead tr td {
            font-weight: bold;
            color: #FFF;
        }

    table tr td {
        font-size: 14px;
        font-family: "mononoki";
        color: #FFF;
        border: 4px solid #37474F;
        text-align: center;
        height: 30px;
        line-height: 30px;
    }
    table tr td a {
        color: #E3F2FD;
        font-weight: bold;
        font-family: "Roboto";
    }
