/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-spacing: 0;
}

::-webkit-scrollbar {
    width: 8px;
    border-radius: 4px;
}
::-webkit-scrollbar-track-piece {
    /* Fond */
    background: transparent none;
    border: solid 4px transparent;
    border-right-width: 6px;
    margin: 4px;
}
::-webkit-scrollbar-track-piece:horizontal {
    /* Fond pour la barre du bas */
    border-right-width: 4px;
    border-bottom-width: 8px;
}
::-webkit-scrollbar-thumb {
    /* Barre */
    border: solid 0 transparent;
    border-right-width: 4px;
    -webkit-border-radius: 5px;
    -webkit-border-top-right-radius: 9px 5px;
    -webkit-border-bottom-right-radius: 9px 5px;
    -webkit-box-shadow: inset 0 0 0 1px rgb(176, 162, 230),
        inset 0 0 0 6px rgb(176, 162, 230);
    -webkit-box-shadow: inset 0 0 0 1px rgb(245, 245, 245),
        inset 0 0 0 6px rgb(245, 245, 245);
}
::-webkit-scrollbar-thumb:hover {
    /* Barre */
    -webkit-box-shadow: inset 0 0 0 1px rgb(245, 245, 245),
        inset 0 0 0 6px rgb(245, 245, 245);
    -webkit-box-shadow: inset 0 0 0 1px #ded9f4, inset 0 0 0 6px #ded9f4;
}
::-webkit-scrollbar-thumb:horizontal {
    /* Barre du bas */
    border-right-width: 0;
    border-bottom-width: 4px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px 9px;
    -webkit-border-bottom-left-radius: 5px 9px;
}

table {
    width: 100%;
    overflow: hidden;
    border-radius: 4px;
}
    table tbody tr {
        background: rgba(55, 55, 55, 0.1);
    }

    table thead {
        background: rgba(25, 25, 25, 0.25);
    }
        table thead tr th {
            font-weight: bold;
            color: #FFF;
            height: 40px;
            cursor: pointer;
            line-height: 40px;
        }

    table tr td {
        height: 30px;
        line-height: 30px;
    }
    table tr td, table tr th {
        font-size: 14px;
        font-family: "mononoki";
        color: #FFF;
        border: 2px solid rgba(55, 71, 79, 0.30);
        text-align: center;
        letter-spacing: 0.5px;
        word-wrap: break-word;
        padding: 0 10px;
    }
    table tr td.clickable:hover {
        color: var(--primary-color);
        cursor: pointer;
    }
    table tr td.highlight {
        max-width: 300px;
        font-size: 12px;
        color: #B0BEC5;
    }
    table tr td a {
        color: #E3F2FD;
        font-weight: bold;
        font-family: "Roboto";
    }
    table tr td.position {
        cursor: pointer;
    }
    table tr td.position:hover .tooltip {
        visibility: visible;
    }
    table tr td.position .tooltip {
        visibility: hidden;
        position: absolute;
        z-index: 1;
        min-width: 120px;
        max-width: 600px;
        max-height: 300px;
        overflow-y: auto;
        top: 40px;
        left: 50%;
        transform: translate(-50%);
        background: #212121;
        border: 1px solid #424242;
        color: #E1F5FE;
        padding: 10px;
        border-radius: 4px;
        text-align: left;
    }