:root {
    --primary-color: #D4E157;
}

body, html {
    height: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background: rgb(39,50,56);
    background: -moz-radial-gradient(center, ellipse cover, rgba(39,50,56,1) 1%, rgba(22,30,33,1) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(39,50,56,1) 1%,rgba(22,30,33,1) 100%);
    background: radial-gradient(ellipse at center, rgba(39,50,56,1) 1%,rgba(22,30,33,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#273238', endColorstr='#161e21',GradientType=1 );
}

body {
    position: relative;
    color: #FFF;
    overflow: hidden;
}

div#network-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    flex-direction: column;
}
    div#network-loader > p {
        font-size: 18px;
        margin-top: 10px;
        font-weight: bold;
    }

section#stats {
    height: 30px;
    position: absolute;
    z-index: 9999;
    right: 10px;
    top: 0;
    display: flex;
}
    section#stats > div.btn {
        padding: 0 10px;
        border-radius: 2px;
        background: #263238;
        border: 1px solid #37474F;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        box-shadow: 1px 1px 10px rgba(20, 20, 20, 0.8);
    }
        section#stats > div.btn > p {
            margin-left: 10px;
        }
    section#stats > div.btn:hover {
        cursor: pointer;
        background: #37474F;
    }
    section#stats > div.btn + div.btn {
        margin-left: 10px;
    }
    section#stats > div.btn:hover div.hiddenarea {
        display: flex;
        flex-direction: column;
    }

    section#stats div.hiddenarea {
        display: none;
        padding-top: 10px;
        width: 360px;
        position: absolute;
        top: 29px;
        right: -1px;
    }
    section#stats div.hiddenarea > div.infobox {
        overflow-y: auto;
    }
    section#stats div.hiddenarea > div.global-stats {
        padding: 5px 10px;
        border-radius: 4px;
        box-shadow: 1px 1px 10px rgba(20, 20, 20, 0.8);
        border: 1px solid #263238;
        box-sizing: border-box;
        background: #263238;
    }
        section#stats div.hiddenarea > div.global-stats ul li {
            display: flex;
            height: 34px;
            align-items: center;
        }
        section#stats div.hiddenarea > div.global-stats ul li + li {
            border-top: 1px solid #37474F;
        }
        section#stats div.hiddenarea > div.global-stats ul li p {
            color: #B0BEC5;
        }
        section#stats div.hiddenarea > div.global-stats ul li b {
            margin-left: auto;
            color: #FFEB3B;
        }

div.legend {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 1px 1px 10px rgba(20, 20, 20, 0.8);
    border: 1px solid #263238;
    box-sizing: border-box;
    overflow: hidden;
}
    div.legend > div.title {
        height: 23px;
        display: flex;
        background: #263238;
        align-items: center;
        padding: 0 5px;
        font-size: 14px;
    }
        div.legend > div.title > b {
            margin-left: 10px;
            font-weight: bold;
        }
    div.legend > p {
        background: #37474F;
        color: #CFD8DC;
        padding: 5px;
        font-size: 13px;
        text-align: justify;
    }
div.legend + div.legend {
    margin-top: 10px;
}

section#show-info {
    min-width: 340px;
    width: 370px;
    max-width: 550px;
    margin-left: 10px;
    margin-top: 10px;
    position: relative;
    background: #37474F;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px rgba(20, 20, 20, 0.8);
    border: 1px solid rgba(200, 200, 200, 0.1);
    max-height: calc(100% - 20px);
    resize: horizontal;
    overflow-x: auto;
    z-index: 5000;
}
    section#show-info > .line-title {
        display: flex;
        justify-content: center;
        align-items: center;
    }
        section#show-info > .line-title > .name {
            color: var(--primary-color);
            font-size: 24px;
            text-align: center;
            text-shadow: 1px 1px 5px rgba(20, 20, 20, 0.5);
        }
        section#show-info > .line-title > .arrobase {
            color: gray;
            margin: 0 5px;
        }
        section#show-info > .line-title > .version {
            color: #ECEFF1;
            font-size: 18px;
            text-align: center;
            text-shadow: 1px 1px 5px rgba(20, 20, 20, 0.5);
        }

    section#show-info > .buttons {
        display: flex;
        justify-content: center;
    }
        section#show-info > .buttons > div.bull {
            height: 30px;
            background: rgb(38,50,56);
            background: -moz-linear-gradient(top,  rgba(38,50,56,1) 0%, rgba(33,33,33,1) 100%);
            background: -webkit-linear-gradient(top,  rgba(38,50,56,1) 0%,rgba(33,33,33,1) 100%);
            background: linear-gradient(to bottom,  rgba(38,50,56,1) 0%,rgba(33,33,33,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#263238', endColorstr='#212121',GradientType=0 );
            border: 1px solid #000;
            border-radius: 4px;
            font-size: 14px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            user-select: none;
            flex-grow: 1;
        }
            section#show-info > .buttons > div.bull > p {
                margin-left: 4px;
            }

        section#show-info > .buttons > div.bull.active {
            border-color: var(--primary-color);
            color: var(--primary-color);
        }

        section#show-info > .buttons > div.bull:not(.active):hover {
            cursor: pointer;
            border-color: var(--primary-color);
            color: var(--primary-color);
        }
        section#show-info > .buttons > div.bull + div.bull {
            margin-left: 10px;
        }

    section#show-info > .desc {
        color: #B0BEC5;
        text-align: justify;
        font-style: italic;
        font-size: 14px;
        margin-top: 15px;
    }

    section#show-info > .flags {
        text-align: center;
        font-size: 14px;
        margin-top: 5px;
    }

    section#show-info .list-item {
        display: flex;
        flex-wrap: wrap;
        margin-left: -5px;
        margin-top: -5px;
    }
        section#show-info .list-item > span {
            padding: 0 10px;
            height: 25px;
            background: #455A64;
            border-radius: 4px;
            font-size: 13px;
            flex-basis: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
        }
        section#show-info .list-item > span {
            margin-left: 5px;
            margin-top: 5px;
        }

    section#show-info > hr {
        width: 100%;
        border: none;
        height: 2px;
        border-bottom: 2px solid #2632385e;
        border-radius: 50px;
    }

    section#show-info > .head-title {
        text-align: center;
        color: #FFF;
        background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0) 0%, rgba(38,50,56,1) 100%);
        background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0) 0%,rgba(38,50,56,1) 100%);
        background: radial-gradient(ellipse at center,  rgba(255,255,255,0) 0%,rgba(38,50,56,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#263238',GradientType=1 );
        border-radius: 5px;
        height: 26px;
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 10px;
        box-sizing: border-box;
        text-shadow: 1px 1px 5px rgba(20, 20, 20, 0.5);
        border: 1px solid #263238;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-variant: small-caps;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    section#show-info ul li {
        display: flex;
        height: 25px;
        font-size: 14px;
        background: #455A64;
        padding: 0 10px;
        line-height: 26px;
        border-radius: 2px;
    }
    section#show-info ul li + li {
        margin-top: 2px;
    }
        section#show-info ul li > b {
            color: #F9FBE7;
            font-weight: 500;
        }
        section#show-info ul li > p, section#show-info ul li > a {
            margin-left: auto;
            color: #CFD8DC;
        }

    section#show-info > div.bundlephobia {
        height: 60px;
        display: flex;
    }
        section#show-info > div.bundlephobia > div {
            height: inherit;
            box-sizing: border-box;
            border-radius: 4px;
            border: 2px solid #263238;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-shadow: 1px 1px 10px rgba(122, 122, 41, 0.3) inset;
        }
        section#show-info > div.bundlephobia > div + div {
            margin-left: 10px;
        }
            section#show-info > div.bundlephobia > div > b {
                font-weight: 800px;
                color: var(--primary-color);
                margin-bottom: 2px;
                font-size: 18px;
            }
            section#show-info > div.bundlephobia > div > span {
                font-size: 13px;
            }

div.select-project {
    text-align: center;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    font-variant: small-caps;
    text-shadow: 1px 1px 10px rgba(20, 20, 20, 0.5);
}


.package-finder {
    background-color: transparent;
    border: none;
    color: #FFEB3B;
    box-sizing: border-box;
    font-size: 16px;
    margin-left: 10px;
    font-weight: bold;
  }

  .package-finder:focus {
    outline: none;
  }

  .package-finder::-webkit-input-placeholder {
    color: #FFEB3B;
  }

main#network-graph {
    flex-grow: 1;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}
