body, html {
    height: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background: rgb(39,50,56);
    background: -moz-radial-gradient(center, ellipse cover, rgba(39,50,56,1) 1%, rgba(22,30,33,1) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(39,50,56,1) 1%,rgba(22,30,33,1) 100%);
    background: radial-gradient(ellipse at center, rgba(39,50,56,1) 1%,rgba(22,30,33,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#273238', endColorstr='#161e21',GradientType=1 );
}

button {
    border: 2px solid #3E2723;
    background: #FFF;
    border-radius: 2px;
    height: 30px;
    color: #3E2723;
    font-weight: bold;
}
button + button {
    margin-left: 10px;
}

body {
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
    color: #FFF;
}

div#network-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    flex-direction: column;
}
    div#network-loader > p {
        font-size: 18px;
        margin-top: 10px;
        font-weight: bold;
    }

section#show-info {
    width: 370px;
    position: absolute;
    left: 10px;
    top: 10px;
    background: #37474F;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 10px rgba(20, 20, 20, 0.8);
    border: 1px solid rgba(200, 200, 200, 0.1);
    z-index: 9999;
}
    section#show-info > .name {
        color: #D4E157;
        font-size: 24px;
        text-align: center;
        text-shadow: 1px 1px 5px rgba(20, 20, 20, 0.5);
    }
    section#show-info > .version {
        color: #ECEFF1;
        font-size: 18px;
        text-align: center;
        text-shadow: 1px 1px 5px rgba(20, 20, 20, 0.5);
    }
    section#show-info > .buttons {
        margin-top: 10px;
        display: flex;
    }
    section#show-info > .desc {
        color: #B0BEC5;
        text-align: justify;
        font-style: italic;
        font-size: 14px;
        margin-top: 15px;
    }
    section#show-info > .flags {
        text-align: center;
    }
    section#show-info > hr {
        width: 100%;
        border: none;
        background: #2f3826;
        height: 2px;
        border-radius: 50px;
    }
    section#show-info > .head-title {
        text-align: center;
        color: #FFF;
        font-size: 14px;
        font-variant: small-caps;
        margin-bottom: 10px;
        text-shadow: 1px 1px 5px rgba(20, 20, 20, 0.5);
    }
    section#show-info ul li {
        display: flex;
        height: 25px;
        font-size: 14px;
        background: #455A64;
        padding: 0 10px;
        line-height: 26px;
        border-radius: 2px;
    }
    section#show-info ul li + li {
        margin-top: 2px;
    }
        section#show-info ul li > b {
            color: #F9FBE7;
            font-weight: 500;
        }
        section#show-info ul li > p, section#show-info ul li > a {
            margin-left: auto;
            color: #CFD8DC;
        }

    section#show-info > div.bundlephobia {
        height: 60px;
        display: flex;
    }
        section#show-info > div.bundlephobia > div {
            height: inherit;
            box-sizing: border-box;
            border-radius: 4px;
            border: 2px solid #263238;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-shadow: 1px 1px 10px rgba(122, 122, 41, 0.3) inset;
        }
        section#show-info > div.bundlephobia > div + div {
            margin-left: 10px;
        }
            section#show-info > div.bundlephobia > div > b {
                font-weight: 800px;
                color: #D4E157;
                margin-bottom: 2px;
                font-size: 18px;
            }
            section#show-info > div.bundlephobia > div > span {
                font-size: 13px;
            }

div.select-project {
    text-align: center;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    font-variant: small-caps;
    text-shadow: 1px 1px 10px rgba(20, 20, 20, 0.5);
}

main#network-graph {
    flex-grow: 1;
    height: 100vh;
}
