.gauge {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.gauge>.line {
  display: flex;
  flex-direction: column;
  color: #546884;
}

.gauge>.line.hidden {
  display: none !important;
}

.gauge>.line+.line {
  margin-top: 5px;
}

.gauge>.line>.line--column {
  display: flex;
  height: 24px;
  align-items: center;
  justify-content: flex-end;
}

.gauge>.line>.line--column span {
  width: 20px;
  text-align: right;
  font-family: "mononoki";
  color: var(--secondary-darker);
}
.gauge>.line>.line--column.border-bottom {
  border-bottom: 1px solid #8080803d;
  padding-bottom: 5px;
}

.gauge .item-name {
  width: 130px;
  flex-shrink: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
}

.gauge .gauge--bar {
  flex-grow: 1;
  margin: 0 10px;
  background: #e1e4e6;
  height: 8px;
  border-radius: 4px;
  overflow: hidden;
}
.gauge .gauge--bar >.usage {
  height: inherit;
  background-color: var(--secondary-darker);
}

.gauge .chip {
  font-family: "mononoki";
  background: #8dabe536;
  border-radius: 8px;
  font-size: 14px;
  padding: 3px 5px;
}
.gauge .chip:last-child {
  margin-right: 30px;
}
.gauge .chip + .chip {
  margin-left: 10px;
}
