@import url("./package/header.css");
@import url("./package/navigation.css");
@import url("./package/script.css");
@import url("./package/maintainers.css");
@import url("./package/bundlephobia.css");
@import url("./package/vulnerabilities.css");
@import url("./package/box.css");
@import url("./package/helpdialog.css");

section#package-info {
  height: 100vh;
  width: 400px;
  top: 0px;
  left: 0px;
  background: var(--primary-darker);
  padding: 15px;
  flex-direction: column;
  z-index: 20;
  position: absolute;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

section#package-info .hidden {
  display: none !important;
}

section#package-info .package-container {
  margin-bottom: 40px;
  padding: 10px;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(76, 50, 223, 0.2) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(76, 50, 223, 0.2) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(76, 50, 223, 0.2) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#334c32df', GradientType=0);
  border-radius: 0 0 8px 8px;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 275px);
}

section#package-info>.package-navigation>div {
  font-family: 'mononoki';
}

/**
 * TITLE
 */
section#package-info .head-title {
  background: var(--primary-darker);
  height: 28px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--primary-lighter);
  border-radius: 2px 2px 0 0;
}

section#package-info .head-title.no-margin {
  margin-top: 0px;
}

section#package-info .head-title>p {
  text-shadow: 1px 1px 5px rgba(20, 20, 20, 0.5);
  font-size: 18px;
  font-variant: small-caps;
  font-family: "mononoki";
  font-weight: bold;
  letter-spacing: 1px;
  padding: 0 10px;
}

section#package-info .head-title>span {
  margin-left: auto;
  background: #0068ff;
  margin-right: 10px;
  padding: 2px 5px;
  border-radius: 4px;
  font-size: 12px;
  font-family: 'mononoki';
  text-shadow: 2px 2px 5px #000000d4;
  transition: all 0.5s ease;
  cursor: pointer;
}

section#package-info .head-title>span.disabled {
  background: #3b3b3b;
  cursor: default;
  opacity: 0.3;
}

section#package-info .head-title>span.active {
  background: #7900ff;
}

section#package-info .head-title>span.active:not(.disabled):hover {
  background: #0068ff;
}

section#package-info .head-title>span:not(.disabled):not(.active):hover {
  background: #7900ff;
}

/**
 * FIELDS CONTAINER
 */
section#package-info .fields {
  margin-top: 10px;
  margin-bottom: 10px;
}

/**
 * LIST OF ITEMS
 */
section#package-info .list-item {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: -5px;
}

section#package-info .list-item.line {
  flex-direction: column;
}

section#package-info .list-item>span {
  padding: 0 10px;
  height: 25px;
  border-radius: 4px;
  font-size: 13px;
  flex-basis: 50px;
  letter-spacing: 0.7px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  color: #CFD8DC;
}

section#package-info .list-item>span.hidden {
  display: none;
}

section#package-info .list-item>span:not(.expandable).clickable:hover {
  background: var(--secondary-darker);
  color: #FFF;
  cursor: pointer;
}

section#package-info .list-item.line>span {
  flex-basis: 25px;
  justify-content: start;
}

section#package-info .list-item>span {
  margin-left: 5px;
  margin-top: 5px;
}

span.expandable {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  height: 35px;
  font-size: 13px;
  font-family: "mononoki";
  background: none;
  color: #00B0FF;
  text-shadow: 1px 1px 1px rgba(20, 20, 20, 0.5);
  transition: all 0.2s linear;
  margin-top: 5px;
}

span.expandable[data-value="opened"] {
  color: #F44336 !important;
}

span.expandable:hover {
  cursor: pointer;
}

span.expandable i {
  margin-right: 4px;
  margin-top: 1px;
}

/**
 * ANOTHER LIST OF ITEMS
 */
section#package-info ul li {
  display: flex;
  height: 23px;
  font-size: 14px;
  padding: 0 10px;
  line-height: 26px;
  border-radius: 2px;
}

section#package-info ul li+li {
  margin-top: 2px;
}

section#package-info ul li>b {
  font-weight: 500;
  color: #BBDEFB;
  font-family: system-ui;
}

section#package-info ul li>p,
section#package-info ul li>a {
  margin-left: auto;
  color: #cfd8dc;
}

section#package-info ul li.clickable i {
  margin-left: 5px;
}

section#package-info ul li.clickable:hover {
  background-color: var(--primary-lighter);
  color: #FFF;
  cursor: pointer;
}

/**
 * FLAGS Short description tooltip
 */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip+.tooltip {
  margin-left: 5px;
}

.tooltip>span {
  visibility: hidden;
  width: 300px;
  background-color: #000;
  color: #FFF;
  text-align: center;
  border-radius: 3px;
  padding: 10px;
  position: absolute;
  z-index: 21;
  font-size: 13px;
  text-shadow: 1px 1px 1px rgba(20, 20, 20, 0.5);
  top: 150%;
  left: 50%;
  margin-left: -140px;
  font-family: "mononoki";
}

.tooltip>span::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 44%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #000 transparent;
}

.tooltip:hover span {
  visibility: visible;
}

/**
 * PACKAGE Code (use in warnings).
 */
.package-code {
  visibility: hidden;
  position: absolute;
  z-index: 21;
  min-width: 120px;
  max-width: 600px;
  max-height: 300px;
  overflow-y: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  background: #191919;
  border: 1px solid #121212;
  color: #FFF;
  padding: 10px;
  border-radius: 4px;
  text-align: left;
  font-size: 14px;
  font-family: "mononoki";
  letter-spacing: 0.5px;
  word-wrap: break-word;
}


#pan-scorecard {
  padding: 10px;
  border-radius: 8px 8px 0 0;
  background: -moz-linear-gradient(top, rgba(76, 50, 223, 0.2) 0%, rgba(0, 0, 0, 0) 15%);
  background: -webkit-linear-gradient(top, rgba(76, 50, 223, 0.2) 0%, rgba(0, 0, 0, 0) 15%);
  background: linear-gradient(to bottom, rgba(76, 50, 223, 0.2) 0%, rgba(0, 0, 0, 0) 15%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#334c32df', endColorstr='#00000000', GradientType=0);
}

#pan-scorecard .container-title {
  display: flex;
  justify-content: center;
  width: 100%;
  color: var(--secondary);
  margin-bottom: 10px;
  font-family: 'mononoki';
  letter-spacing: 1px;
  text-shadow: 1px 1px 5px #2a6f99;
  position: static;
}

#pan-scorecard .check {
  display: flex;
  height: 26px;
  align-items: center;
  cursor: pointer;
  flex-wrap: wrap;
  white-space: initial;
  overflow: hidden;
}

#pan-scorecard .check.visible {
  height: auto;
}

#pan-scorecard .check:before {
  content: '▶';
  padding: 4px;
  width: 20px;
  text-align: center;
  font-size: 11px;
}

#pan-scorecard .check.visible:before {
  content: '▼';
}


#pan-scorecard .check:hover {
  background: #3722af;
}

#pan-scorecard .check .info {
  flex: 1 1 100%;
  margin-left: 28px;
  visibility: hidden;
}

#pan-scorecard .check .info.visible {
  visibility: visible;
}

#pan-scorecard .check .info strong {
  font-weight: 500;
}

#pan-scorecard .check .description,
#pan-scorecard .check .reason,
#pan-scorecard .check .detail {
  margin-bottom: 10px;
  word-wrap: break-word;
}

#pan-scorecard .check .detail {
  font-size: small;
  margin-bottom: 6px;
}

#pan-scorecard .name,
#pan-scorecard .score {
  height: 26px;
  line-height: 26px;
}

#pan-scorecard .name {
  font-weight: 500;
  color: #BBDEFB;
  font-family: system-ui;
  font-size: 14px;
}

#pan-scorecard .score {
  margin-left: auto;
  font-size: 14px;
  font-family: 'mononoki';
}

.mb-5 {
  margin-bottom: 5px;
}
