@font-face {
  font-family: 'fontello';
  src: url('../../font/fontello.eot?8115607');
  src: url('../../font/fontello.eot?8115607#iefix') format('embedded-opentype'),
       url('../../font/fontello.woff2?8115607') format('woff2'),
       url('../../font/fontello.woff?8115607') format('woff'),
       url('../../font/fontello.ttf?8115607') format('truetype'),
       url('../../font/fontello.svg?8115607#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../../font/fontello.svg?8115607#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-eye:before { content: '\e800'; } /* '' */
.icon-eye-off:before { content: '\e801'; } /* '' */
.icon-chart-bar:before { content: '\e802'; } /* '' */
.icon-chart-pie:before { content: '\e803'; } /* '' */
.icon-chat:before { content: '\e804'; } /* '' */
.icon-attention-circled:before { content: '\e805'; } /* '' */
.icon-book-open:before { content: '\e806'; } /* '' */
.icon-search:before { content: '\e807'; } /* '' */
.icon-link:before { content: '\e808'; } /* '' */
.icon-users:before { content: '\e809'; } /* '' */
.icon-archive:before { content: '\e80a'; } /* '' */
.icon-home:before { content: '\e80b'; } /* '' */
.icon-star-empty:before { content: '\e80c'; } /* '' */
.icon-star:before { content: '\e80d'; } /* '' */
.icon-warning:before { content: '\e80e'; } /* '' */
.icon-warning-empty:before { content: '\e80f'; } /* '' */
.icon-users-1:before { content: '\e810'; } /* '' */
.icon-doc:before { content: '\e811'; } /* '' */
.icon-eye-1:before { content: '\e812'; } /* '' */
.icon-eye-off-1:before { content: '\e813'; } /* '' */
.icon-ok-circled:before { content: '\e814'; } /* '' */
.icon-ok-circled2:before { content: '\e815'; } /* '' */
.icon-cancel-circled:before { content: '\e816'; } /* '' */
.icon-cancel-circled2:before { content: '\e817'; } /* '' */
.icon-book:before { content: '\e818'; } /* '' */
.icon-award:before { content: '\e819'; } /* '' */
.icon-box-1:before { content: '\e81a'; } /* '' */
.icon-vcard:before { content: '\e81b'; } /* '' */
.icon-doc-text:before { content: '\e81c'; } /* '' */
.icon-doc-text-inv:before { content: '\e81d'; } /* '' */
.icon-vcard-1:before { content: '\e81e'; } /* '' */
.icon-left-open-big:before { content: '\e81f'; } /* '' */
.icon-bell-1:before { content: '\e820'; } /* '' */
.icon-right-open-big:before { content: '\e821'; } /* '' */
.icon-globe:before { content: '\e822'; } /* '' */
.icon-cog:before { content: '\e823'; } /* '' */
.icon-code:before { content: '\e824'; } /* '' */
.icon-globe-alt-outline:before { content: '\e825'; } /* '' */
.icon-globe-alt:before { content: '\e826'; } /* '' */
.icon-info-circled:before { content: '\f085'; } /* '' */
.icon-info-circled-alt:before { content: '\f086'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-sitemap:before { content: '\f0e8'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-terminal:before { content: '\f120'; } /* '' */
.icon-fork:before { content: '\f126'; } /* '' */
.icon-unlink:before { content: '\f127'; } /* '' */
.icon-minus-squared:before { content: '\f146'; } /* '' */
.icon-minus-squared-alt:before { content: '\f147'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */
.icon-box:before { content: '\f187'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-cube:before { content: '\f1b2'; } /* '' */
.icon-cubes:before { content: '\f1b3'; } /* '' */
