<template id="maintainers-popup-template">
  <div class="maintainers--popup">
    <div class="header">
      <div class="avatar"></div>
      <div class="informations">
        <p class="name"></p>
        <p class="email"></p>
      </div>
      <div class="icons">
        <i class="icon-link"></i>
        <i class="icon-globe-alt-outline"></i>
      </div>
    </div>
    <div class="separator">
      <p>[[=z.token('popup.maintainer.intree')]]</p>
    </div>
    <ul class="maintainers--packages"></ul>
  </div>
</template>
