<template id="search-view-template">
  <div class="container">
    <form>
      <div class="form-group">
        <i class="icon-search"></i>
        <input
          type="text"
          id="package"
          name="package"
          placeholder="[[=z.token('search.registryPlaceholder')]]"
          autocomplete="off"
          required
        >
      </div>
    </form>
    <div class="recent-packages">
      <h1>[[=z.token('search.recentPackages')]]</h1>
    </div>
    <div class="cache-packages">
      <h1>[[=z.token('search.packagesCache')]]</h1>
    </div>
  </div>
</template>
