.package-scripts {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.package-scripts .script {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 4px;
  box-sizing: border-box;
}

.package-scripts .script.suspicious {
  background: #8776464f;
}

.package-scripts .script:nth-child(even) {
  background: rgba(150, 100, 150, 0.05);
}

.package-scripts .script+.script {
  margin-top: 5px;
}

.package-scripts .script.suspicious p.name {
  color: #efe493;
}

.package-scripts .script p.name {
  color: #B3E5FC;
  height: 26px;
  display: flex;
  align-items: center;
  letter-spacing: 0.3px;
}

.package-scripts .script p.value {
  font-size: 13px;
  color: #f3e4f8;
  font-family: 'mononoki';
  margin-top: 5px;
}
