#documentation-root-element {
  width: 1000px;
  height: 80%;
  position: absolute;
  display: flex;
  right: 0;
  top: 10%;
  z-index: 30;
  transform: translateX(calc(100% - 26px));
}

@media screen and (width <= 1200px) {
  #documentation-root-element {
    width: 600px;
  }
}

  #documentation-root-element > .open-button {
    width: 26px;
    height: 80px;
    right: 10px;
    flex-shrink: 0;
    background: var(--primary);
    align-self: center;
    border-radius: 6px 0 0 6px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #documentation-root-element > .open-button:hover {
    cursor: pointer;
    background: var(--primary-lighter);
  }

  #documentation-root-element > .documentation-render-container {
    border-radius: 6px 0 0 6px;
    box-sizing: border-box;
    border-left: 2px solid var(--primary);
    border-top: 2px solid var(--primary);
    border-bottom: 2px solid var(--primary);
    overflow: hidden;
    box-shadow: 2px 2px 30px rgb(20 20 20 / 80%);
    width: 100%;
  }
