div.package-head-information {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

div.package-head-information>.package-name {
  display: flex;
  font-family: "mononoki";
  text-shadow: 1px 1px 5px rgba(20, 20, 20, 0.5);
}

div.package-head-information>.package-name>.name {
  color: #FFF;
  font-size: 22px;
}

div.package-head-information>.package-name>.name.lowsize {
  font-size: 18px;
}

div.package-head-information>.package-name>.version {
  color: var(--secondary);
  font-size: 16px;
  margin-left: 10px;
  display: flex;
  align-items: end;
}
div.package-head-information>.package-name>.info {
  background: url("../../../img/arrow-right-solid.svg");
  background-position: center center;
  background-repeat: no-repeat;
  width: 18px;
  height: 22px;
  border: none;
  margin-left: auto;
  cursor: pointer;
  /* https://codepen.io/sosuke/pen/Pjoqqp */
  filter: invert(71%) sepia(22%) saturate(6942%) hue-rotate(149deg) brightness(101%) contrast(106%);
}
div.package-head-information>.package-name>.info-menu {
  background: #f7f7f7;
  padding: 16px;
  border: none;
  border-radius: 6px;
  position: absolute;
  left: 420px;
  width: 160px;
  text-shadow: none;
}
div.package-head-information>.package-name>.info-menu>.info-menu-title {
  font-weight: bold;
  text-align: center;
  margin-bottom: 12px;
  color: rgb(39, 38, 38);
}
div.package-head-information>.package-name>.info-menu>a {
  display: block;
  margin-bottom: 4px;
}

div.package-head-information>ul.package-flags {
  display: flex;
  font-size: 18px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

div.package-head-information>.package-description {
  width: 100%;
  color: #FFF;
  text-align: left;
  font-size: 15px;
  margin-top: 7px;
}

div.package-head-information>.package-links {
  height: 20px;
  display: flex;
  justify-content: center;
}

div.package-head-information>.package-links .link {
  display: flex;
  height: inherit;
  align-items: center;
}

div.package-head-information>.package-links .link+.link {
  margin-left: 20px;
}

div.package-head-information>.package-links .link>img {
  height: 20px;
}

div.package-head-information>.package-links .link>i {
  font-size: 20px;
}

div.package-head-information>.package-links .link>a {
  margin-left: 6px;
  color: #FFF;
  font-size: 14px;
  text-decoration: none;
}

div.package-head-information>.package-links .link>a:hover {
  text-decoration: underline;
}

.package-info-header-menu .tools-menu {
  display: none;
}

.package-info-header-menu:hover .tools-menu, .tools-menu:hover {
  display: inline-flex;
  flex-wrap: wrap;
  position: absolute;
  left: 417px;
  top: 90px;
  background: #261877;
  padding: 7px 15px;
  border-radius: 4px;
}

.package-info-header-menu .tools-menu a {
  width: 100%;
  color: #cfd8dc;
  padding: 5px;
}
.package-info-header-menu .tools-menu a:hover {
  background: #2e1e87;
}

/* .github-stars {
  font-family: 'mononoki';
  font-size: 14px;
  color: #fce12b;
  display: flex;
  margin-left: 5px;
  line-height: 30px;
}

.github-stars p {
  margin-left: 1px;
} */
