/**
 * WARNINGS
 */
.box-container-warning {
  display: flex;
}

.box-container-warning .info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.box-container-warning .info>p.title {
  font-size: 15px;
  color: #ede3ff;
}

.box-container-warning .info>p.value {
  font-size: 12px;
  margin-top: 5px;
  color: var(--secondary);
  font-family: mononoki;
  word-break: break-all;
}

.box-container-warning .view-more {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  box-sizing: border-box;
  color: #bfecff;
  background: #1a237e;
  border: 2px solid #2d39ac;
  border-radius: 50%;
  flex-shrink: 0;
  margin-left: 10px;
  transition: all 0.4s ease;
}

.box-container-warning .view-more:hover {
  cursor: pointer;
  border-color: var(--secondary);
  color: var(--secondary);
}

.box-source-code-position {
  height: 18px;
  margin-top: 10px;
  font-size: 14px;
  font-family: system-ui;
  display: flex;
  align-items: center;
  justify-content: center;
}
