.box-file-info {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-top: 2px solid #351ea7;
  border-left: 2px solid #351ea7;
  background: linear-gradient(to bottom, rgb(12 15 94 / 27%) 0%, rgb(0 0 0 / 0%) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#450c0f5e', endColorstr='#00000000', GradientType=0);
  border-radius: 4px;
  box-shadow: 1px 1px 10px rgb(18 101 109 / 10%);
}

.box-file-info+.box-file-info {
  margin-top: 10px;
}

.box-file-info>.box-header {
  display: flex;
  align-items: center;
  height: 20px;
  margin-bottom: 20px;
}

.box-file-info>.box-header>span {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: mononoki;
  font-weight: bold;
  text-shadow: 2px 2px 10px #000;
}

.box-file-info>.box-header>span.Critical {
  background: #d32f2f;
}

.box-file-info>.box-header>span.Warning {
  background: #f08e26;
}

.box-file-info>.box-header>span.Information {
  background: #0288d1ab;
}

.box-file-info>.box-header>.box-title {
  font-size: 18px;
  font-variant: small-caps;
  font-family: mononoki;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
}

.box-file-info>.box-header>a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.box-file-info>.box-header>.box-file {
  margin-left: auto;
  color: #B3E5FC;
  display: flex;
}

.box-file-info>.box-header>.box-file a {
  color: inherit;
  text-decoration: none;
}

.box-file-info>.box-header>.box-file a:hover {
  text-decoration: underline;
}

.box-file-info>.box-header>.box-file i {
  margin-right: 6px;
}

/**
 * LICENSES
 */
.box-file-info>.box-container-licenses {
  display: flex;
  flex-wrap: wrap;
}

.box-file-info>.box-container-licenses>div {
  flex-grow: 1;
  flex-basis: 150px;
  height: 26px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-weight: 500;
  color: #D1C4E9;
  font-family: system-ui;
}

/**
 * WARNINGS
 */
.box-file-info>.box-container-warning {
  display: flex;
}

.box-file-info>.box-container-warning .info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.box-file-info>.box-container-warning .info>p.title {
  font-size: 15px;
  color: #ede3ff;
}

.box-file-info>.box-container-warning .info>p.value {
  font-size: 12px;
  margin-top: 5px;
  color: var(--secondary);
  font-family: mononoki;
  word-break: break-all;
}

.box-file-info>.box-container-warning .view-more {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  box-sizing: border-box;
  color: #bfecff;
  background: #1a237e;
  border: 2px solid #2d39ac;
  border-radius: 50%;
  flex-shrink: 0;
  margin-left: 10px;
  transition: all 0.4s ease;
}

.box-file-info>.box-container-warning .view-more:hover {
  cursor: pointer;
  border-color: var(--secondary);
  color: var(--secondary);
}

.box-file-info>.box-source-code-position {
  height: 18px;
  margin-top: 10px;
  font-size: 14px;
  font-family: system-ui;
  display: flex;
  align-items: center;
  justify-content: center;
}
