#home--view {
  z-index: 10;
  flex-direction: column;
  padding: 60px;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}

#home--view .home--header {
  display: flex;
}

.home--header--scorecard {
  display: none;
  flex-shrink: 0;
  margin-left: 40px;
  overflow: hidden;
  border-radius: 4px;
  font-family: 'mononoki';
  letter-spacing: 1px;
  cursor: pointer;
}

.home--header--scorecard .description {
  width: 190px;
  background: linear-gradient(to bottom,  #37474f 0%,#263238 100%);
  display: flex;
  align-items: center;
}

.home--header--scorecard .description > img {
  height: 73px;
}

.home--header--scorecard .description > p {
  margin-left: 10px;
}

.home--header--scorecard .score {
  width: 73px;
  color: #FFF;
  display: flex;
  font-size: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 5px #0000007a;
  box-shadow: 2px 2px 10px #1e1e1e69 inset;
}
.home--header--scorecard .score.green {
  background-color: rgb(113 203 45);
}
.home--header--scorecard .score.red {
  background-color: rgb(219 80 58);
}
.home--header--scorecard .score.orange {
  background-color: rgb(252 196 39);
}
.home--header--scorecard .score.blue {
  background-color: rgb(39 144 252);
}

.home--header--title  {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.home--header--title .top {
  display: flex;
  height: 40px;
  align-items: center;
  font-size: 28px;
  font-family: "mononoki";
  border-bottom: 2px solid #cecec9;
}

.home--header--title .top #project-name {
  color: var(--primary-lighter);
}

.home--header--title .top #project-version {
  color: var(--secondary-darker);
  margin-left: 15px;
  font-size: 20px;
  margin-top: 5px;
}

.home--header--title .bottom {
  display: flex;
  height: 26px;
  align-items: center;
  margin-top: 5px;
}

.home--header--title .bottom #project-description {
  color: var(--primary);
  letter-spacing: 1px;
  font-family: system-ui;
}

.home--header--title .bottom>ul {
  margin-left: auto;
  height: inherit;
  display: flex;
}

.home--header--title .bottom>ul li {
  display: flex;
  align-items: center;
  color: #425964;
  font-family: "mononoki";
  letter-spacing: 0.5px;
}

.home--header--title .bottom>ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.home--header--title .bottom>ul li img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.home--header--title .bottom>ul li+li {
  margin-left: 40px;
}

#home--view .home--body {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-left: -40px;
}

#home--view .home--body .expandable {
  text-shadow: none;
  font-size: 15px;
  color: var(--secondary-darker);
  flex-grow: 1;
  flex-basis: 100%;
}

#home--view .home--body .pannel {
  flex-basis: 500px;
  flex-grow: 1;
  margin-left: 40px;
  margin-top: 40px;
}

#home--view .home--body .module {
  display: flex;
  flex-direction: column;
}

#home--view .home--body .module+.module {
  margin-top: 20px;
}

#home--view .home--body .module>.title {
  height: 34px;
  display: flex;
  background: rgb(55, 34, 175);
  background: -moz-linear-gradient(-45deg, rgba(55, 34, 175, 1) 0%, rgba(55, 34, 175, 1) 48%, rgba(90, 68, 218, 1) 75%, rgba(90, 68, 218, 1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(55, 34, 175, 1) 0%, rgba(55, 34, 175, 1) 48%, rgba(90, 68, 218, 1) 75%, rgba(90, 68, 218, 1) 100%);
  background: linear-gradient(135deg, rgba(55, 34, 175, 1) 0%, rgba(55, 34, 175, 1) 48%, rgba(90, 68, 218, 1) 75%, rgba(90, 68, 218, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3722af', endColorstr='#5a44da', GradientType=1);
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0 10px;
  align-items: center;
  font-family: "mononoki";
  text-shadow: 1px 1px 10px #05a0ff6b;
}

#home--view .home--body .module>.title.warning {
  background: rgb(183, 28, 28);
  background: -moz-linear-gradient(-45deg, rgba(183, 28, 28, 1) 0%, rgba(183, 28, 28, 1) 48%, rgba(229, 57, 53, 1) 75%, rgba(229, 57, 53, 1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(183, 28, 28, 1) 0%, rgba(183, 28, 28, 1) 48%, rgba(229, 57, 53, 1) 75%, rgba(229, 57, 53, 1) 100%);
  background: linear-gradient(135deg, rgba(183, 28, 28, 1) 0%, rgba(183, 28, 28, 1) 48%, rgba(229, 57, 53, 1) 75%, rgba(229, 57, 53, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b71c1c', endColorstr='#e53935', GradientType=1);
}

#home--view .home--body .module>.title>span.count {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FDD835;
  font-size: 14px;
  margin-left: 10px;
  color: #263238;
  font-size: 12px;
  font-weight: bold;
  padding: 4px;
}

#home--view .home--body .module>.title>i {
  margin-right: 10px;
}

#home--view .home--body .module>.content {
  min-height: 20px;
}

/**
 * WARNINGS BEGIN
 */
.home--warnings {
  display: flex;
  flex-direction: column;
  max-height: 200px;
  overflow-y: auto;
}

.home--warnings>p {
  padding: 10px;
  background: -moz-linear-gradient(left, rgba(140, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-linear-gradient(left, rgba(140, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to right, rgba(140, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d8c0000', endColorstr='#00000000', GradientType=1);

  color: #4a0000;
  border-radius: 4px;
}

.home--warnings>p + p {
  margin-top: 5px;
}

/**
 * WARNINGS END
 */

/**
 * OVERVIEW BEGIN
 */
.home--overview {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-top: -10px;
}

.home--overview>div {
  margin-top: 10px;
  margin-left: 10px;
  flex-basis: 240px;
  flex-grow: 1;
  border: 2px dashed #cecec9;
  border-radius: 4px;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #546884;
}

.home--overview>div>.title {
  display: flex;
  font-size: 20px;
  font-weight: 500;
  font-family: system-ui;
  letter-spacing: 0.5px;
}

.home--overview>div>.title>i {
  margin-right: 10px;
}

.home--overview>div>span {
  font-family: "mononoki";
  font-size: 18px;
  color: var(--secondary-darker);
  margin-top: 10px;
}

/**
 * OVERVIEW END
 */

/**
 * MAINTAINERS BEGIN
 */
.home--maintainers {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-top: -10px;
}

.home--maintainers>.person {
  height: 50px;
  flex-basis: 300px;
  display : flex;
  position: relative;
  box-sizing: border-box;
  border-radius: 4px;
  overflow: hidden;
  margin-left: 10px;
  margin-top: 10px;
  box-shadow: 2px 2px 6px 0px #00000012;
  border: 1px solid #bfbfbf;
  color: #546884;
  flex-grow: 1;
}

.home--maintainers>.person.hidden {
  display: none;
}

.home--maintainers>.person.url:hover {
  border-color: var(--primary);
  cursor: pointer;
}

.home--maintainers>.person>img {
  width: 50px;
}

.home--maintainers>.person>i{
  margin-right: 10px;
  display: flex;
  align-items: center;
  color: #1976D2;
}

.home--maintainers>.person>.whois {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  font-size: 13px;
  font-family: "mononoki";
  flex-grow: 1;
  margin-right: 10px;
}

.home--maintainers>.person>.whois>span {
  color: var(--secondary-darker);
  font-size: 12px;
  margin-top: 5px;
}

.home--maintainers>.person>div.packagescount {
  display: flex;
  align-items: center;
  font-family: "mononoki";
  font-size: 14px;
  margin-right: 10px;
  flex-basis: 40px;
  flex-shrink: 0;
}

.home--maintainers>.person>div.packagescount>i {
  margin-right: 4px;
}

/**
 * MAINTAINERS END
 */
