.documentation--content>div {
  display: flex;
  flex-direction: column;
  color: #455A64;
  font-weight: 400;
  font-size: 18px;
  margin: 10px;
  overflow-x: hidden;
}

.documentation--content img {
  max-width: 100%;
}

.documentation--content div>span {
  background: #b8e9ff;
  padding: 2px;
  border-radius: 2px;
  color: #0f1126;
  margin: 0 2px;
}

.documentation--content b {
  color: #263238;
  font-weight: 600;
}

.documentation--content a {
  color: #1e00ff;
}

.documentation--content h1 {
  color: #263238;
  height: 50px;
  margin-bottom: 1rem;
  text-align: center;
  line-height: 50px;
  font-family: system-ui;
  font-size: 30px;
  letter-spacing: 0.5px;
}

.documentation--content h2 {
  color: #3722AF;
  height: 26px;
  font-size: 22px;
  border-bottom: 1px solid #3722AF;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.documentation--content ul+h2 {
  margin-top: 1rem !important;
}

.documentation--content h3 {
  height: 26px;
  font-size: 18px;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #d4d4d4;
  font-weight: bold;
}

.documentation--content kbd {
  background: linear-gradient(to bottom,  rgb(238 238 238 / 100%) 0%,rgb(229 229 229 / 100%) 100%);
  padding: 1px 5px;
  border-radius: 4px;
  border: 2px solid #cdcdcd;
}

.documentation--content p {
  text-align: justify;
  line-height: 1.50;
  color: #314249;
  margin-right: 10px;
}

.documentation--content p>code {
  background: #feffd5;
  padding: 1px 5px;
  border-radius: 4px;
}

.documentation--content p+p {
  margin-top: 10px;
}

.documentation--content p.note {
  border-left: 3px solid #01579B;
  padding: 10px 15px;
  background: #81d4fa59;
  color: #283593;
  font-weight: 400;
  border-radius: 2px;
  box-sizing: border-box;
}

.documentation--content blockquote {
  background: #81d4fa59;
  color: #283593 !important;
  border-left: 5px solid #01579B;
  margin: 0.5em 10px;
  padding: 0.5em 10px;
}

.documentation--content blockquote p {
  display: inline;
}

.documentation--content blockquote strong,
.documentation--content blockquote code {
  font-weight: bold;
}

.documentation--content p.note>span {
  background: #FFF9C4;
}

.documentation--content ul {
  margin: 0.5rem 0;
  box-shadow: 1px 1px 10px rgb(20 20 20 / 20.5%);
  margin-right: 10px;
}

.documentation--content ul li {
  padding: 7px 10px;
  border-radius: 4px;
  background: #FFF;
}

.documentation--content ul li+li {
  margin-top: 3px;
}

.documentation--content ul li::before {
  content: "• ";
}

.documentation--content ul li a {
  color: #1976D2;
}

.documentation--content ul li strong,
.documentation--content ul li code {
  font-weight: bold;
}

table {
  width: 100%;
  border-spacing: 2px;
  table-layout: fixed;
}

table thead tr th {
  font-weight: bold;
  background: #3722AF;
  color: #FFF;
  height: 40px;
  cursor: pointer;
  line-height: 40px;
}

table tbody tr {
  background: rgb(55 55 55 / 10%);
}

table tr td {
  height: 30px;
  line-height: 30px;
  color: #263238;
}

table tr td,
table tr th {
  font-size: 14px;
  font-family: mononoki;
  border: 2px solid rgb(55 71 79 / 30%);
  text-align: center;
  letter-spacing: 0.5px;
  overflow-wrap: break-word;
  padding: 0 10px;
}

/* CSS Simple Pre Code */
pre {
  background: #263238;
  white-space: pre;
  overflow-wrap: break-word;
  overflow: auto;
  border-radius: 4px;
  flex-shrink: 0;
  margin-top: 10px !important;
  margin-right: 10px !important;
}

pre+p {
  margin-top: 10px;
}

pre code.hljs {
  font-size: 16px;
}

pre code {
  font-family: Inconsolata, Monaco, Consolas, "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  display: block;
  padding: 15px 16px 14px;
  overflow-x: auto;
  font-size: 13px;
  line-height: 19px;
}
