@import url("./header.css");
@import url("./navigation.css");
@import url("./content.css");

.documentation--main {
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: "Roboto";
  height: 100%;
}

.documentation--sub-container {
  display: flex;
  position: relative;
  flex-grow: 1;
  height: calc(100% - 110px);
  box-sizing: border-box;
}

.documentation--sub-container > .documentation--navigation,
.documentation--sub-container > .documentation--content {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

.documentation--sub-container > .documentation--navigation {
  flex-shrink: 0;
  max-width: 270px;
  padding: 10px;
  overflow: auto;
  background: #f4f6f7;
}
  .documentation--warnings .documentation--navigation  {
    width: 270px;
  }

.documentation--sub-container > .documentation--content {
  overflow: auto;
  flex-grow: 1;
  background: #dfe7e9;
}

.documentation--main ::-webkit-scrollbar {
  width: 8px;
  border-radius: 4px;
}

.documentation--main ::-webkit-scrollbar-track-piece {
  /* Fond */
  background: transparent none;
  border: solid 4px transparent;
  border-right-width: 6px;
  margin: 4px;
}

.documentation--main ::-webkit-scrollbar-track-piece:horizontal {
  /* Fond pour la barre du bas */
  border-right-width: 4px;
  border-bottom-width: 8px;
}

.documentation--main ::-webkit-scrollbar-thumb {
  /* Barre */
  border: solid 0 transparent;
  border-right-width: 4px;
  -webkit-border-radius: 5px;
  -webkit-border-top-right-radius: 9px 5px;
  -webkit-border-bottom-right-radius: 9px 5px;
  -webkit-box-shadow: inset 0 0 0 1px #3722AF,
    inset 0 0 0 6px #3f27c7;
}

.documentation--main ::-webkit-scrollbar-thumb:horizontal {
  /* Barre du bas */
  border-right-width: 0;
  border-bottom-width: 4px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px 9px;
  -webkit-border-bottom-left-radius: 5px 9px;
}
