/**
 * CUSTOM CSS
 */
.package-scripts> expandable-span {
  margin-top: 10px;
}

.home--body expandable-span {
  text-shadow: none;
  font-size: 15px;
  color: var(--secondary-darker);
  flex-grow: 1;
  flex-basis: 100%;
  margin-top: 10px;
}
